doctype html
html(ng-app="lunchtime")
  head
    meta(charset='utf8')

    meta(name='application-name' content='Lunchtime App')
    meta(name='msapplication-TileColor' content='#40eb5f')
    //- meta(name='msapplication-square70x70logo' content='tiny.png')
    meta(name='msapplication-square150x150logo' content='img/square150x150.jpg')
    meta(name='msapplication-wide310x150logo' content='img/wide310x310.png')
    //- meta(name='msapplication-square310x310logo' content='large.jpg')

    base(href='/')
    title Lunchtime App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='http://gitcdn.github.io/ajax/bootstrap-toggle/css/bootstrap-toggle.min.css')
  body
    block body