doctype html
html(ng-app="lunchtime")
  head
    meta(charset='utf8')
    base(href='/')
    title Lunchtime App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='http://gitcdn.github.io/ajax/bootstrap-toggle/css/bootstrap-toggle.min.css')
  body
    block body